@{
    ViewBag.Title = "YARR Blog";
}

<div class="jumbotron">
    <h1>YARR Blog</h1>
    <p class="lead">¡Hola! Espero que te sirva bastante este código, y agradecería si me apoyas en alguna red social.</p>
    <p><a href="https://yarrblogcr.wordpress.com/" class="btn btn-primary btn-lg">Más publicaciones &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Microsoft Visual Studio</h2>
        <p><a class="btn btn-default" href="https://yarrblogcr.wordpress.com/category/microsoft-visual-studio/">Más publicaciones &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Control de versiones</h2>
        <p><a class="btn btn-default" href="https://yarrblogcr.wordpress.com/category/control-de-versiones/">Más publicaciones &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Desarrollo Web</h2>
        <p><a class="btn btn-default" href="https://yarrblogcr.wordpress.com/category/desarrollo-web/">Más publicaciones &raquo;</a></p>
    </div>
</div>